services:

  zookeeper-1:
    image: confluentinc/cp-zookeeper:7.3.2
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - etl_network1

  kafka-1:
    image: confluentinc/cp-kafka:7.3.2
    depends_on:
      - zookeeper-1
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-1:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://host.docker.internal:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"
    networks:
      - etl_network1


  nifi-service-1:
    image: apache/nifi:1.23.2
    container_name: nifi-service-1
    ports:
      - "8443:8080"
    environment:
      NIFI_WEB_HTTP_PORT: 8080
      NIFI_JVM_HEAP_INIT: 2g
      NIFI_JVM_HEAP_MAX: 3g
    volumes:
      - nifi_data:/opt/nifi/nifi-current/logs
      - ./data/input:/data/input
    networks:
      - etl_network1

networks:
  etl_network1:
    driver: bridge

volumes:
  nifi_data:
  minio_data: